<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/base :: head"></head>

<body>

	<header th:replace="layout/base :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header fw-bold" th:text="${accion}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-outline-primary btn-sm"
						th:href="@{/blockers/form}">Crear blocker</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Email</th>
							<th>Registro</th>
							<th>Antiguedad</th>
							<th>Activo</th>
							<th>Celular</th>
							<th>Ver perfil</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="blocker: ${blockers}">
							<td th:text="${blocker.id}"></td>
							<td th:text="${blocker.usuario.nombre}"></td>
							<td th:text="${blocker.usuario.apellido}"></td>
							<td th:text="${blocker.usuario.email}"></td>
							<td th:text="${blocker.usuario.fechaRegistro}"></td>
							<td th:text="${blocker.usuario.tiempoRegistrado}"></td>
							<td>
							<img th:if="${blocker.usuario.estaActivo}"
									class="img-thumbnail rounded" width="40"
									height="40" th:src="@{/uploads/true.png}" /> <img
									th:if="${not blocker.usuario.estaActivo}"
									class="img-thumbnail rounded" width="40"
									height="40" th:src="@{/uploads/false.png}" />
							</td>
							<td th:text="${blocker.usuario.celular}"></td>
							<td><a class="btn btn-outline-success btn-sm"
									th:href="@{/blockers/ver/} + ${blocker.id}">Ver perfil</a></td>
							<td><a class="btn btn-outline-info btn-sm"
								th:href="@{/blockers/form/} + ${blocker.id}">Editar</a></td>
							<td><button class="btn btn-outline-danger btn-sm"
									th:id="${blocker.id}" onclick="confirm(id)">Eliminar</button></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="layout/paginator :: paginator"></nav>
			</div>
		</div>
	</div>

	<footer th:replace="layout/base :: footer"></footer>

	<script th:inline="javascript">
	function confirm(id) {
		Swal.fire({
			  title: '¿Estás seguro?',
			  text: '¡No serás capaz de revertirlo!',
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: '¡Sí, eliminarlo!'
			}).then((result) => {
			  if (result.isConfirmed) {
				  Swal.fire(
			      '¡Eliminado!',
			      'El usuario ha sido eliminado.',
			      'success'
			    ).then((result) => {
			    	var url = /*[[@{/blockers/eliminar/}]]*/ 
					window.location.href = url + id;
			    })
			  }
			})
	}
			
			    
</script>
</body>
</html>