<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/base :: head"></head>

<body>

	<header th:replace="layout/base :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header fw-bold">Bienvenido al Panel de
				Administración de Pasteblock</div>
			<div class="card-body">
				<div class="d-grid gap-2">
					<a th:href="@{/clientes/listar}"
						class="btn btn-outline-success btn-lg" type="button">Ver
						Clientes</a>
					<a th:href="@{/blockers/listar}" class="btn btn-outline-info btn-lg"
						type="button">Ver Blockers</a>
					<a th:href="@{/contratos/listar}" class="btn btn-outline-danger btn-lg"
						type="button">Ver Contratos</a>
					<a th:href="@{/mensajes/listar}" class="btn btn-outline-dark btn-lg"
						type="button">Ver Mensajes</a>
					<a th:href="@{/servicios/listar}" class="btn btn-outline-primary btn-lg"
						type="button">Ver Servicios</a>
					<a th:href="@{/estadisticas}" class="btn btn-outline-secondary btn-lg"
						type="button">Ver Estadísticas</a>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layout/base :: footer"></footer>

</body>
</html>