<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/base :: head"></head>

<body>

	<header th:replace="layout/base :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header fw-bold" th:text="${accion}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-outline-success btn-sm"
						th:href="@{/clientes/form}">Crear cliente</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Email</th>
							<th>Registro</th>
							<th>Antiguedad</th>
							<th>Activo</th>
							<th>Celular</th>
							<th>Stars</th>
							<th>Servs</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cliente: ${clientes}">
							<td th:text="${cliente.id}"></td>
							<td th:text="${cliente.usuario.nombre}"></td>
							<td th:text="${cliente.usuario.apellido}"></td>
							<td th:text="${cliente.usuario.email}"></td>
							<td th:text="${cliente.usuario.fechaRegistro}"></td>
							<td th:text="${cliente.usuario.tiempoRegistrado}"></td>
							<td th:text="${cliente.usuario.estaActivo}"></td>
							<td th:text="${cliente.usuario.celular}"></td>
							<td th:text="${cliente.reputacion}"></td>
							<td th:text="${cliente.numeroServiciosContratados}"></td>
							<td><a class="btn btn-outline-info btn-sm"
								th:href="@{/clientes/form/} + ${cliente.id}">Editar</a></td>
							<td><button class="btn btn-outline-danger btn-sm"
									th:id="${cliente.id}" onclick="confirm(id)">Eliminar</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<footer th:replace="layout/base :: footer"></footer>

	<script th:inline="javascript">
	function confirm(id) {
		Swal.fire({
			  title: '¿Estás seguro?',
			  text: '¡No serás capaz de revertirlo!',
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: '¡Sí, eliminarlo!'
			}).then((result) => {
			  if (result.isConfirmed) {
				  Swal.fire(
			      '¡Eliminado!',
			      'El usuario ha sido eliminado.',
			      'success'
			    ).then((result) => {
			    	var url = /*[[@{/clientes/eliminar/}]]*/ 
					window.location.href = url + id;
			    })
			  }
			})
	}
			
			    
</script>
</body>
</html>