<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/base :: head"></head>

<body>

	<header th:replace="layout/base :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header fw-bold" th:text="${accion}"></div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Servicio</th>
							<th>Blocker</th>
							<th>Cliente</th>
							<th>Costo</th>
							<th>Días</th>
							<th>Ver mensaje</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="mensaje: ${mensajes}">
							<td th:text="${mensaje.id}"></td>
							<td th:text="${mensaje.servicio.tipoServicio}"></td>
							<td><span
								th:text="${mensaje.blocker.usuario.nombre} + ' ' + ${mensaje.blocker.usuario.apellido}"></span>
								<span th:if="${mensaje.estadoConfirmacionBlocker != null}">
									<span th:if="${mensaje.estadoConfirmacionBlocker}"
									class="float-end badge bg-success rounded-pill my-auto p-2 mx-auto">
										Aceptado</span> <span
									th:if="${not mensaje.estadoConfirmacionBlocker}"
									class="float-end badge bg-danger rounded-pill my-auto p-2 mx-auto">
										Rechazado</span>
							</span> <span th:if="${mensaje.estadoConfirmacionBlocker == null}"
								class="float-end badge bg-dark rounded-pill my-auto p-2 mx-auto">
									Sin confirmar</span></td>
							<td><span
								th:text="${mensaje.cliente.usuario.nombre} + ' ' + ${mensaje.cliente.usuario.apellido}"></span>
								<span th:if="${mensaje.estadoConfirmacionCliente != null}">
									<span th:if="${mensaje.estadoConfirmacionCliente}"
									class="float-end badge bg-success rounded-pill my-auto p-2 mx-auto">
										Aceptado</span> <span
									th:if="${not mensaje.estadoConfirmacionCliente}"
									class="float-end badge bg-danger rounded-pill my-auto p-2 mx-auto">
										Rechazado</span>
							</span> <span th:if="${mensaje.estadoConfirmacionCliente == null}"
								class="float-end badge bg-dark rounded-pill my-auto p-2 mx-auto">
									Sin confirmar</span></td>
							<td th:text="${mensaje.costo}"></td>
							<td th:text="${mensaje.tiempoEstimado}"></td>
							<td><a class="btn btn-outline-success btn-sm"
								th:href="@{/mensajes/ver/} + ${mensaje.id}">Ver mensaje</a></td>
							<td><a class="btn btn-outline-info btn-sm"
								th:href="@{/mensajes/form/} + ${mensaje.id}">Editar</a></td>
							<td><button class="btn btn-outline-danger btn-sm"
									th:id="${mensaje.id}" onclick="confirm(id)">Eliminar</button></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="layout/paginator :: paginator"></nav>
			</div>
		</div>
	</div>

	<footer th:replace="layout/base :: footer"></footer>

	<script th:inline="javascript">
	function confirm(id) {
		Swal.fire({
			  title: '¿Estás seguro?',
			  text: '¡No serás capaz de revertirlo!',
			  icon: 'warning',
			  showCancelButton: true,
			  confirmButtonColor: '#3085d6',
			  cancelButtonColor: '#d33',
			  confirmButtonText: '¡Sí, eliminarlo!'
			}).then((result) => {
			  if (result.isConfirmed) {
				  Swal.fire(
			      '¡Eliminado!',
			      'El mensaje ha sido eliminado.',
			      'success'
			    ).then((result) => {
			    	var url = /*[[@{/mensajes/eliminar/}]]*/ 
					window.location.href = url + id;
			    })
			  }
			})
	}
			
			    
</script>
</body>
</html>